@import '../../../assets/scss/variables';
@import '../../../assets/scss/mixins';

.meta {
  &__date {
    font-style: italic;
  }
}

.author {  
  &__photo {
    display: inline-block;
    margin-bottom: 0;
    border-radius: 50%;
    background-clip: padding-box
  }
}

a.svg {
  position: relative;
  display: inline-block; 
  margin: 0 5px;
  width: 20;
  height: 20;
}

a.svg:after {
  content: ""; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left:0;
  width: 20;
  height: 20;
}